<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Security Login System</title>
</head>
<body>
    <div th:if="${param.error}">
        Invaild username and password
    </div>
    <div th:if="${param.logout}">
        You have beed logged out.
    </div>
    <form th:action="${/login}" method="POST">
        <div>
            <label for="">UserName</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="">Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" value="Sign In">
        </div>
</form>
</body>
</html>